.App {
  margin: 0 auto;
  width: 1200px;
  height: 1000px;
  text-align: center;
}
textarea{
	resize: none;
}
.denied_red::placeholder{
	color: red;
}
/********header********/
.EG-header{
	display: flex;
	align-items: baseline;
}
.EG-logo{
	width: 200px;
}
.EG-nav{
	
	width: 100%;
	height: 50px;
	background-color: #212121;
}
/********main-content********/
.main-content{
	height: 1000px;
	display: flex;
}
/***sidebar***/
.sidebar{
	position: sticky;
    top: 0;
    align-self: flex-start; /*flex에서 sticky사용*/
}
.EG-sidebar{
	margin-left: -10px;
	width: 200px;
	height: 200px;
	border-radius: 17px;
	border: 2px solid #E3E3E3;
}
/***content***/
.content{
	width: 1000px;
}