<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.memberDAO.MemberMapper">
	<insert id="insertMember" parameterType="map">
		INSERT INTO EG_MEMBER(
			mem_num,
			mem_email,
			mem_passwd,
			mem_salt
		) VALUES (
			#{mem_num},
			#{email},
			#{passwdf},
			#{mem_salt}
		)
	</insert>
</mapper>